# for game
allow installd platform_app_data_file:file { rename setattr };

# for smartcard
allow installd smartcard_data_file:lnk_file { create setattr };

